.idea

.idea/*

src/Backend/bin

src/Backend/bin/*

src/Showcase/bin

src/Showcase/bin/*

src/Library/DefaultDatabase/bin

src/Library/DefaultDatabase/bin/*

src/Library/ShowcaseDatabase/bin

src/Library/ShowcaseDatabase/bin/*

src/Library/ApiErrors/bin

src/Library/ApiErrors/bin/*

src/Library/Assets/User/bin

src/Library/Assets/User/bin/*

src/Library/Assets/Redis/bin

src/Library/Assets/Redis/bin/*

src/Library/Assets/bin

src/Library/Assets/bin/*

src/Library/Redis/bin

src/Library/Redis/bin/*

src/Components/Auth/bin

src/Components/Auth/bin/*

build